/* Rush of Fate - Menu Styles */

/* Heading styling */
h1 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 68px;
    text-align: left;
    color: #ff0000;
    text-shadow: 2px 2px 4px #000;
    margin-top: 50px;
    margin-left: 50px;
}

h2 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 48px;
    text-align: left;
    color: #ff0000;
    text-shadow: 2px 2px 4px #000;
    margin: 30px 0 20px 50px;
}

p {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 32px;
    color: #fff;
    margin-left: 50px;
}

/* Background */
body {
    background: #702cde;
    margin: 0;
    padding: 0;
}

/* Button styling */
button {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    width: 300px;
    margin: 10px 80px;
    text-align: center;
}

button:hover {
    background-color: #997fffcc;
    color: #000;
    padding: 10px 5px;
}

button:active {
    background-color: #000000;
    color: #fff;
    padding: 30px 10px;
}

/* Link buttons (for navigation) */
a.button {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    width: 300px;
    margin: 10px 80px;
    text-align: center;
    text-decoration: none;
}

a.button:hover {
    background-color: #997fffcc;
    color: #000;
    padding: 10px 5px;
}

a.button:active {
    background-color: #000000;
    color: #fff;
    padding: 30px 10px;
}

/* Form elements */
label {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 36px;
    color: #ffffff;
    margin-left: 60px;
    display: inline-block;
    margin-bottom: 10px;
}

input[type="range"] {
    width: 300px;
    margin-left: 10px;
}

select {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    margin-left: 10px;
    background: white;
}